<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Car Details</h5>
        <button type="button" (click)="appClosePopup()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
        <p>ID : {{car.id}}</p>
        <p>Company : {{car.company}}</p>
        <p>Type : {{car.type}}}</p>
        <p>Color : {{car.color}}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="appDeleteCar(car.id)" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>